In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
buff_pred_path = "/Users/matthewvicario/Desktop/Project3/Output/buff_pred.csv"
buff_pred_data = pd.read_csv(buff_pred_path)
buffalo_ml_path = "/Users/matthewvicario/Desktop/Project3/Output/buffalo_ml.csv"
buffalo_ml_data = pd.read_csv(buffalo_ml_path)

In [3]:
buffalo_ml_data = buffalo_ml_data[["Year","Buffalo Pct"]] 
buffalo_ml_data = buffalo_ml_data.rename(columns={"Buffalo Pct": "Buffalo_Pct"})

In [4]:
buff_pred_data.rename(columns = {"Future Years":"Year", "Predicted":"Buffalo_Pct"}, inplace = True)

In [5]:
full_buff = pd.merge(buffalo_ml_data, buff_pred_data, how = "outer", on = ["Year", "Buffalo_Pct"])
full_buff

    Year  Buffalo_Pct  Unnamed: 0
0     14     0.464207         NaN
1     15     0.215813         NaN
2     16     0.520095         NaN
3     17     0.554477         NaN
4     18     0.447740         NaN
5     19     0.451207         NaN
6     20     0.508760         0.0
7     21     0.527763         1.0
8     22     0.546766         2.0
9     23     0.565769         3.0
10    24     0.584771         4.0
11    25     0.603774         5.0

In [6]:
full_buff.drop(full_buff.filter(regex="Unnamed: 0"),axis=1, inplace=True)
full_buff

    Year  Buffalo_Pct
0     14     0.464207
1     15     0.215813
2     16     0.520095
3     17     0.554477
4     18     0.447740
5     19     0.451207
6     20     0.508760
7     21     0.527763
8     22     0.546766
9     23     0.565769
10    24     0.584771
11    25     0.603774

In [7]:
full_buff.to_csv('Output/full_buff.csv', index = True)