In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [2]:
cattle_pred_path = "/Users/matthewvicario/Desktop/Project3/Output/cattle_pred.csv"
cattle_pred_data = pd.read_csv(cattle_pred_path)
cattle_ml_path = "/Users/matthewvicario/Desktop/Project3/Output/cattle_ml.csv"
cattle_ml_data = pd.read_csv(cattle_ml_path)

In [3]:
cattle_ml_data = cattle_ml_data[["Year","Cattle Pct"]]
cattle_ml_data = cattle_ml_data.rename(columns={"Cattle Pct": "Cattle_Pct"})

In [4]:
cattle_pred_data.rename(columns = {"Future Years":"Year", "Predicted":"Cattle_Pct"}, inplace = True)

In [5]:
full_cattle = pd.merge(cattle_ml_data, cattle_pred_data, how = "outer", on = ["Year", "Cattle_Pct"])
full_cattle

    Year  Cattle_Pct  Unnamed: 0
0     13    0.125504         NaN
1     14    0.128321         NaN
2     15    0.104764         NaN
3     16    0.134794         NaN
4     17    0.101482         NaN
5     18    0.119154         NaN
6     19    0.098976         NaN
7     20    0.101729         0.0
8     21    0.098121         1.0
9     22    0.094514         2.0
10    23    0.090907         3.0
11    24    0.087300         4.0
12    25    0.083693         5.0

In [6]:
full_cattle.drop(full_cattle.filter(regex="Unnamed: 0"),axis=1, inplace=True)
full_cattle

    Year  Cattle_Pct
0     13    0.125504
1     14    0.128321
2     15    0.104764
3     16    0.134794
4     17    0.101482
5     18    0.119154
6     19    0.098976
7     20    0.101729
8     21    0.098121
9     22    0.094514
10    23    0.090907
11    24    0.087300
12    25    0.083693

In [7]:
full_cattle.to_csv('Output/full_cattle.csv', index = True)