In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
jan_jun14_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun14.csv"
jul_dec14_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec14.csv"
jan_jun15_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun15.csv"
jul_dec15_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec15.csv"
jan_jun16_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun16.csv"
jul_dec16_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec16.csv"
jan_jun17_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun17.csv"
jul_dec17_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec17.csv"
jan_jun18_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun18.csv"
jul_dec18_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec18.csv"
jan_jun19_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun19.csv"
jul_dec19_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec19.csv"

In [4]:
jan_jun14_data = pd.read_csv(jan_jun14_path)
jul_dec14_data = pd.read_csv(jul_dec14_path)
jan_jun15_data = pd.read_csv(jan_jun15_path)
jul_dec15_data = pd.read_csv(jul_dec15_path)
jan_jun16_data = pd.read_csv(jan_jun16_path)
jul_dec16_data = pd.read_csv(jul_dec16_path)
jan_jun17_data = pd.read_csv(jan_jun17_path)
jul_dec17_data = pd.read_csv(jul_dec17_path)
jan_jun18_data = pd.read_csv(jan_jun18_path)
jul_dec18_data = pd.read_csv(jul_dec18_path)
jan_jun19_data = pd.read_csv(jan_jun19_path)
jul_dec19_data = pd.read_csv(jul_dec19_path)

In [5]:
newjan_jun14 = jan_jun14_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [6]:
newjul_dec14 = jul_dec14_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [7]:
newjan_jun15 = jan_jun15_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [8]:
newjul_dec15 = jul_dec15_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [9]:
newjan_jun16 = jan_jun16_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [10]:
newjul_dec16 = jul_dec16_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [11]:
newjan_jun17 = jan_jun17_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [12]:
newjul_dec17 = jul_dec17_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [13]:
newjan_jun18 = jan_jun18_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [14]:
newjul_dec18 = jul_dec18_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [15]:
newjan_jun19 = jan_jun19_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [16]:
newjul_dec19 = jul_dec19_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [17]:
year14 = pd.merge(newjan_jun14, newjul_dec14, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [18]:
year15 = pd.merge(newjan_jun15, newjul_dec15, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [19]:
year16 = pd.merge(newjan_jun16, newjul_dec16, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [20]:
year17 = pd.merge(newjan_jun17, newjul_dec17, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [21]:
year18 = pd.merge(newjan_jun18, newjul_dec18, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [22]:
year19 = pd.merge(newjan_jun19, newjul_dec19, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [23]:
combined_df = pd.merge(year14, year15, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [24]:
combined_df = pd.merge(combined_df, year16, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [25]:
combined_df = pd.merge(combined_df, year17, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [26]:
combined_df = pd.merge(combined_df, year18, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [27]:
combined_df = pd.merge(combined_df, year19, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])
combined_df

,Departure Date,Buffalo Load,Buffalo Loss,Buffalo Pct,Cattle Load,Cattle Loss,Cattle Pct,Sheep Load,Sheep Loss,Sheep Pct
0,Dec-13,NaN,NaN,NaN,1360.0,0.0,0.0000,NaN,NaN,NaN
1,Dec-13,NaN,NaN,NaN,3102.0,4.0,0.0013,NaN,NaN,NaN
2,Dec-13,NaN,NaN,NaN,15362.0,17.0,0.0011,NaN,NaN,NaN
3,Dec-13,NaN,NaN,NaN,879.0,1.0,0.0011,72053.0,554.0,0.007700
4,Dec-13,NaN,NaN,NaN,150.0,0.0,0.0000,77860.0,243.0,0.003100
...,...,...,...,...,...,...,...,...,...,...
1959,Dec-19,NaN,NaN,NaN,3921.0,1.0,0.0003,NaN,NaN,NaN
1960,Dec-19,NaN,NaN,NaN,731.0,2.0,0.0027,62443.0,201.0,0.003219
1961,Dec-19,NaN,NaN,NaN,6270.0,0.0,0.0000,NaN,NaN,NaN
1962,Dec-19,NaN,NaN,NaN,3729.0,6.0,0.0016,NaN,NaN,NaN
1963,Dec-19,NaN,NaN,NaN,3005.0,13.0,0.0043,NaN,NaN,NaN