In [1]:
import numpy as np
import pandas as pd
from sqlalchemy import create_engine
import json

In [2]:
#stored data file path
mortality_data_path = "/Users/matthewvicario/Desktop/Project3/exp_mortality.csv"
exports_data_path = "/Users/matthewvicario/Desktop/Project3/all_exports.csv"

In [3]:
mortality_data = pd.read_csv(mortality_data_path)
mortality_data.head()

  Export Date  Species  Consignment Mortality Level Destination Mode
0      Aug-19  Buffalo                            6     Vietnam  Sea
1      Jul-19   Cattle                           22     Vietnam  Sea
2      May-19   Cattle                           53     Vietnam  Sea
3      May-19   Cattle                           25       China  Sea
4      Mar-19   Cattle                           53     Vietnam  Sea

In [4]:
exports_data = pd.read_csv(exports_data_path)
exports_data.head()

  Mode Month State      Load Port Species    End Use   Country  Quantity  Year
0  Air   Jul    SA       Adelaide   Goats  Slaughter  Malaysia       100  2014
1  Sea   Jul    SA  Port Adelaide   Sheep  Slaughter   Bahrain     22000  2014
2  Sea   Jul    SA  Port Adelaide   Sheep  Slaughter     Qatar     25484  2014
3  Air   Jul    SA       Adelaide   Sheep  Slaughter  Malaysia       111  2014
4  Sea   Jul    WA      Fremantle  Cattle  Slaughter     Egypt      2403  2014

In [8]:
neworder = exports_data[["Month", "Year", "Species", "Quantity", "Mode","Country", "End Use"]]
neworder.rename(columns = {"Country":"Destination"}, inplace = True)
neworder.head()

  Month  Year Species  Quantity Mode Destination    End Use
0   Jul  2014   Goats       100  Air    Malaysia  Slaughter
1   Jul  2014   Sheep     22000  Sea     Bahrain  Slaughter
2   Jul  2014   Sheep     25484  Sea       Qatar  Slaughter
3   Jul  2014   Sheep       111  Air    Malaysia  Slaughter
4   Jul  2014  Cattle      2403  Sea       Egypt  Slaughter

In [9]:
start, stop = 2, 4
neworder["Year"] = neworder["Year"].astype(str)
neworder["Year"] = neworder["Year"].str.slice(start, stop)
neworder.head()

/Users/matthewvicario/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/matthewvicario/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  Month Year Species  Quantity Mode Destination    End Use
0   Jul   14   Goats       100  Air    Malaysia  Slaughter
1   Jul   14   Sheep     22000  Sea     Bahrain  Slaughter
2   Jul   14   Sheep     25484  Sea       Qatar  Slaughter
3   Jul   14   Sheep       111  Air    Malaysia  Slaughter
4   Jul   14  Cattle      2403  Sea       Egypt  Slaughter

In [10]:
neworder["Export Date"] = pd.DataFrame(neworder["Month"].map(str) + "-" + neworder["Year"].map(str))
neworder.head()

/Users/matthewvicario/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Month Year Species  Quantity Mode Destination    End Use Export Date
0   Jul   14   Goats       100  Air    Malaysia  Slaughter      Jul-14
1   Jul   14   Sheep     22000  Sea     Bahrain  Slaughter      Jul-14
2   Jul   14   Sheep     25484  Sea       Qatar  Slaughter      Jul-14
3   Jul   14   Sheep       111  Air    Malaysia  Slaughter      Jul-14
4   Jul   14  Cattle      2403  Sea       Egypt  Slaughter      Jul-14

In [11]:
clean_exports = neworder[["Export Date", "Species", "Quantity", "Mode","Destination", "End Use"]]
clean_exports.head()

  Export Date Species  Quantity Mode Destination    End Use
0      Jul-14   Goats       100  Air    Malaysia  Slaughter
1      Jul-14   Sheep     22000  Sea     Bahrain  Slaughter
2      Jul-14   Sheep     25484  Sea       Qatar  Slaughter
3      Jul-14   Sheep       111  Air    Malaysia  Slaughter
4      Jul-14  Cattle      2403  Sea       Egypt  Slaughter

In [ ]:
#combined_data = pd.merge(mortality_data, clean_exports, on ="Export Date", how ='outer')
#combined_data.head()