In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
jan_jun14_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun14.csv"
jul_dec14_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec14.csv"
jan_jun15_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun15.csv"
jul_dec15_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec15.csv"
jan_jun16_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun16.csv"
jul_dec16_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec16.csv"
jan_jun17_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun17.csv"
jul_dec17_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec17.csv"
jan_jun18_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun18.csv"
jul_dec18_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec18.csv"
jan_jun19_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun19.csv"
jul_dec19_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec19.csv"

In [4]:
jan_jun14_data = pd.read_csv(jan_jun14_path)
jul_dec14_data = pd.read_csv(jul_dec14_path)
jan_jun15_data = pd.read_csv(jan_jun15_path)
jul_dec15_data = pd.read_csv(jul_dec15_path)
jan_jun16_data = pd.read_csv(jan_jun16_path)
jul_dec16_data = pd.read_csv(jul_dec16_path)
jan_jun17_data = pd.read_csv(jan_jun17_path)
jul_dec17_data = pd.read_csv(jul_dec17_path)
jan_jun18_data = pd.read_csv(jan_jun18_path)
jul_dec18_data = pd.read_csv(jul_dec18_path)
jan_jun19_data = pd.read_csv(jan_jun19_path)
jul_dec19_data = pd.read_csv(jul_dec19_path)

In [5]:
newjan_jun14 = jan_jun14_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [6]:
newjul_dec14 = jul_dec14_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [7]:
newjan_jun15 = jan_jun15_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [8]:
newjul_dec15 = jul_dec15_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [9]:
newjan_jun16 = jan_jun16_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [10]:
newjul_dec16 = jul_dec16_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [11]:
newjan_jun17 = jan_jun17_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [12]:
newjul_dec17 = jul_dec17_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [13]:
newjan_jun18 = jan_jun18_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [14]:
newjul_dec18 = jul_dec18_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [15]:
newjan_jun19 = jan_jun19_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [16]:
newjul_dec19 = jul_dec19_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"]]

In [17]:
year14 = pd.merge(newjan_jun14, newjul_dec14, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [18]:
year15 = pd.merge(newjan_jun15, newjul_dec15, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [19]:
year16 = pd.merge(newjan_jun16, newjul_dec16, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [20]:
year17 = pd.merge(newjan_jun17, newjul_dec17, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [21]:
year18 = pd.merge(newjan_jun18, newjul_dec18, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [22]:
year19 = pd.merge(newjan_jun19, newjul_dec19, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [23]:
combined_df = pd.merge(year14, year15, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [24]:
combined_df = pd.merge(combined_df, year16, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [25]:
combined_df = pd.merge(combined_df, year17, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [26]:
combined_df = pd.merge(combined_df, year18, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [27]:
combined_df = pd.merge(combined_df, year19, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct"])

In [28]:
cattle = combined_df[["Departure Date","Cattle Load","Cattle Loss","Cattle Pct"]]
cattle = cattle[cattle["Cattle Load"].notna()]
cattle = cattle.fillna(0)

In [29]:
sheep = combined_df[["Departure Date","Sheep Load","Sheep Loss","Sheep Pct"]]
sheep = sheep[sheep["Sheep Load"].notna()]
sheep = sheep.fillna(0)

In [30]:
buffalo = combined_df[["Departure Date","Buffalo Load","Buffalo Loss","Buffalo Pct"]]
buffalo = buffalo[buffalo["Buffalo Load"].notna()]
buffalo = buffalo.fillna(0)

In [31]:
buffalo["Departure Date"].unique()

array(['Feb-14', 'Mar-14', 'Apr-14', 'May-14', 'Jul-14', 'Aug-14',
       'Sep-14', 'Oct-14', 'Dec-14', 'Mar-15', 'Apr-15', 'May-15',
       'Jun-15', 'Jul-15', 'Aug-15', 'Sep-15', 'Oct-15', 'Dec-15',
       'Feb-16', 'Apr-16', 'Jun-16', 'May-16', 'Jul-16', 'Aug-16',
       'Sep-16', 'Nov-16', 'Jan-17', 'Feb-17', 'Apr-17', 'Jun-17',
       'Jul-17', 'Aug-17', 'Sep-17', 'Oct-17', 'Nov-17', 'Dec-17',
       'Feb-18', 'Mar-18', 'Apr-18', 'May-18', 'Jun-18', 'Jul-18',
       'Aug-18', 'Sep-18', 'Nov-18', 'Dec-18', 'Jan-19', 'Feb-19',
       'Mar-19', 'Apr-19', 'May-19', 'Jun-19', 'Jul-19', 'Aug-19',
       'Sep-19', 'Oct-19', 'Nov-19'], dtype=object)

In [32]:
buffalo["Departure Date"] = buffalo["Departure Date"].astype(str)
buffalo[["Month","Year"]] = buffalo["Departure Date"].str.split("-",expand=True,)
buffalo

     Departure Date  Buffalo Load  Buffalo Loss  Buffalo Pct Month Year
58           Feb-14         214.0           0.0     0.000000   Feb   14
76           Mar-14         404.0           0.0     0.000000   Mar   14
117          Apr-14         336.0           0.0     0.000000   Apr   14
142          May-14         176.0           2.0     0.011400   May   14
162          May-14         189.0           0.0     0.000000   May   14
...             ...           ...           ...          ...   ...  ...
1909         Oct-19         657.0           2.0     0.003044   Oct   19
1914         Nov-19        1012.0          23.0     0.022700   Nov   19
1916         Nov-19         236.0           2.0     0.008470   Nov   19
1920         Nov-19         178.0           0.0     0.000000   Nov   19
1955         Nov-19         278.0           0.0     0.000000   Nov   19

[118 rows x 6 columns]

In [33]:
buffalo_ml = buffalo[["Year","Buffalo Load","Buffalo Loss"]]
buffalo_ml = buffalo_ml.groupby(by="Year",as_index = False).sum()
buffalo_ml

  Year  Buffalo Load  Buffalo Loss
0   14        4093.0          19.0
1   15        5097.0          11.0
2   16        4230.0          22.0
3   17        7214.0          40.0
4   18        7147.0          32.0
5   19        9530.0          43.0

In [34]:
buffalo_ml["Buffalo Pct"]= (buffalo_ml["Buffalo Loss"]/buffalo_ml["Buffalo Load"]) * 100
buffalo_ml

  Year  Buffalo Load  Buffalo Loss  Buffalo Pct
0   14        4093.0          19.0     0.464207
1   15        5097.0          11.0     0.215813
2   16        4230.0          22.0     0.520095
3   17        7214.0          40.0     0.554477
4   18        7147.0          32.0     0.447740
5   19        9530.0          43.0     0.451207