In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
sheep_pred_path = "/Users/matthewvicario/Desktop/Project3/Output/sheep_pred.csv"
sheep_pred_data = pd.read_csv(sheep_pred_path)
sheep_ml_path = "/Users/matthewvicario/Desktop/Project3/Output/sheep_ml.csv"
sheep_ml_data = pd.read_csv(sheep_ml_path)

In [4]:
sheep_ml_data = sheep_ml_data[["Year","Sheep Pct"]]
sheep_ml_data = sheep_ml_data.rename(columns={"Sheep Pct": "Sheep_Pct"})

In [5]:
sheep_pred_data.rename(columns = {"Future Years":"Year", "Predicted":"Sheep_Pct"}, inplace = True)

In [7]:
full_sheep = pd.merge(sheep_ml_data, sheep_pred_data, how = "outer", on = ["Year", "Sheep_Pct"])
full_sheep

    Year  Sheep_Pct  Unnamed: 0
0     13   0.517291         NaN
1     14   0.720621         NaN
2     15   0.640606         NaN
3     16   0.801313         NaN
4     17   0.714420         NaN
5     18   0.471098         NaN
6     19   0.254973         NaN
7     20   0.415457         0.0
8     21   0.372168         1.0
9     22   0.328879         2.0
10    23   0.285589         3.0
11    24   0.242300         4.0
12    25   0.199011         5.0

In [9]:
full_sheep.drop(full_sheep.filter(regex="Unnamed: 0"),axis=1, inplace=True)
full_sheep

    Year  Sheep_Pct
0     13   0.517291
1     14   0.720621
2     15   0.640606
3     16   0.801313
4     17   0.714420
5     18   0.471098
6     19   0.254973
7     20   0.415457
8     21   0.372168
9     22   0.328879
10    23   0.285589
11    24   0.242300
12    25   0.199011

In [10]:
full_sheep.to_csv('Output/full_sheep.csv', index = True)