In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
jan_jun14_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun14.csv"
jul_dec14_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec14.csv"
jan_jun15_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun15.csv"
jul_dec15_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec15.csv"
jan_jun16_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun16.csv"
jul_dec16_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec16.csv"
jan_jun17_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun17.csv"
jul_dec17_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec17.csv"
jan_jun18_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun18.csv"
jul_dec18_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec18.csv"
jan_jun19_path = "/Users/matthewvicario/Desktop/Project3/Resources/jan-jun19.csv"
jul_dec19_path = "/Users/matthewvicario/Desktop/Project3/Resources/jul-dec19.csv"

In [4]:
jan_jun14_data = pd.read_csv(jan_jun14_path)
jul_dec14_data = pd.read_csv(jul_dec14_path)
jan_jun15_data = pd.read_csv(jan_jun15_path)
jul_dec15_data = pd.read_csv(jul_dec15_path)
jan_jun16_data = pd.read_csv(jan_jun16_path)
jul_dec16_data = pd.read_csv(jul_dec16_path)
jan_jun17_data = pd.read_csv(jan_jun17_path)
jul_dec17_data = pd.read_csv(jul_dec17_path)
jan_jun18_data = pd.read_csv(jan_jun18_path)
jul_dec18_data = pd.read_csv(jul_dec18_path)
jan_jun19_data = pd.read_csv(jan_jun19_path)
jul_dec19_data = pd.read_csv(jul_dec19_path)
jan_jun15_data

,Departure Date,Unnamed: 1,Loading Port(s),Destination Port(s),Duration (days),Discharge Date,Cattle Load,Cattle Loss,Cattle Pct,Sheep Load,Sheep Loss,Sheep Pct,Buffalo Load,Buffalo Loss,Buffalo Pct
0,Dec-14,NaN,Townsville,Jakarta/Panjang,10,Dec-14,16639.0,30.0,0.0018,NaN,NaN,NaN,NaN,NaN,NaN
1,Dec-14,NaN,Portland,Novorossiysk,36,Jan-15,15788.0,55.0,0.0035,NaN,NaN,NaN,NaN,NaN,NaN
2,Dec-14,NaN,Darwin,Ho Chi Minh,13,Dec-14,5411.0,6.0,0.0011,NaN,NaN,NaN,NaN,NaN,NaN
3,Dec-14,NaN,Portland,Tianjin,20,Jan-15,10685.0,13.0,0.0012,NaN,NaN,NaN,NaN,NaN,NaN
4,Dec-14,NaN,Townsville,Lotus Port,13,Jan-15,4241.0,4.0,0.0009,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
174,Jun-15,NaN,Darwin,Muara,8,Jun-15,1300.0,0.0,0.0000,NaN,NaN,NaN,100.0,0.0,0.0
175,Jun-15,NaN,Darwin,Haiphong,11,Jun-15,2234.0,3.0,0.0013,NaN,NaN,NaN,NaN,NaN,NaN
176,Jun-15,NaN,Darwin,Belawan,8,Jun-15,3840.0,3.0,0.0008,NaN,NaN,NaN,NaN,NaN,NaN
177,Jun-15,NaN,Wyndham,Jakarta,7,Jun-15,2081.0,0.0,0.0000,NaN,NaN,NaN,NaN,NaN,NaN
178,Jun-15,NaN,Darwin,Panjang,6,Jun-15,6548.0,1.0,0.0002,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
newjan_jun14 = jan_jun14_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [6]:
newjul_dec14 = jul_dec14_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [7]:
newjan_jun15 = jan_jun15_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [8]:
newjul_dec15 = jul_dec15_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [9]:
newjan_jun16 = jan_jun16_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [10]:
newjul_dec16 = jul_dec16_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [11]:
newjan_jun17 = jan_jun17_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [12]:
newjul_dec17 = jul_dec17_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [13]:
newjan_jun18 = jan_jun18_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [14]:
newjul_dec18 = jul_dec18_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [15]:
newjan_jun19 = jan_jun19_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [16]:
newjul_dec19 = jul_dec19_data[["Departure Date", "Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"]]

In [17]:
year14 = pd.merge(newjan_jun14, newjul_dec14, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct","Duration (days)"])

In [18]:
year15 = pd.merge(newjan_jun15, newjul_dec15, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct","Duration (days)"])

In [19]:
year16 = pd.merge(newjan_jun16, newjul_dec16, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct","Duration (days)"])

In [20]:
year17 = pd.merge(newjan_jun17, newjul_dec17, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"])

In [21]:
year18 = pd.merge(newjan_jun18, newjul_dec18, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"])

In [22]:
year19 = pd.merge(newjan_jun19, newjul_dec19, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"])

In [23]:
combined_df = pd.merge(year14, year15, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"])

In [24]:
combined_df = pd.merge(combined_df, year16, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"])

In [25]:
combined_df = pd.merge(combined_df, year17, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"])

In [26]:
combined_df = pd.merge(combined_df, year18, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"])

In [27]:
combined_df = pd.merge(combined_df, year19, how ='outer', on =["Departure Date","Buffalo Load", "Buffalo Loss", 
                              "Buffalo Pct", "Cattle Load", "Cattle Loss", "Cattle Pct", 
                               "Sheep Load", "Sheep Loss", "Sheep Pct", "Duration (days)"])

In [29]:
combined_df

,Departure Date,Buffalo Load,Buffalo Loss,Buffalo Pct,Cattle Load,Cattle Loss,Cattle Pct,Sheep Load,Sheep Loss,Sheep Pct,Duration (days)
0,Dec-13,NaN,NaN,NaN,1360.0,0.0,0.0000,NaN,NaN,NaN,13
1,Dec-13,NaN,NaN,NaN,3102.0,4.0,0.0013,NaN,NaN,NaN,8
2,Dec-13,NaN,NaN,NaN,15362.0,17.0,0.0011,NaN,NaN,NaN,12
3,Dec-13,NaN,NaN,NaN,879.0,1.0,0.0011,72053.0,554.0,0.007700,33
4,Dec-13,NaN,NaN,NaN,150.0,0.0,0.0000,77860.0,243.0,0.003100,19
...,...,...,...,...,...,...,...,...,...,...,...
1960,Dec-19,NaN,NaN,NaN,3921.0,1.0,0.0003,NaN,NaN,NaN,5
1961,Dec-19,NaN,NaN,NaN,731.0,2.0,0.0027,62443.0,201.0,0.003219,23
1962,Dec-19,NaN,NaN,NaN,6270.0,0.0,0.0000,NaN,NaN,NaN,5
1963,Dec-19,NaN,NaN,NaN,3729.0,6.0,0.0016,NaN,NaN,NaN,14
1964,Dec-19,NaN,NaN,NaN,3005.0,13.0,0.0043,NaN,NaN,NaN,10

In [ ]:
duration.to_csv('Output/duration.csv', index = True)

In [ ]:
cattle = combined_df[["Departure Date","Cattle Load","Cattle Loss","Cattle Pct"]]
cattle = cattle[cattle["Cattle Load"].notna()]
cattle = cattle.fillna(0)

In [ ]:
sheep = combined_df[["Departure Date","Sheep Load","Sheep Loss","Sheep Pct"]]
sheep = sheep[sheep["Sheep Load"].notna()]
sheep = sheep.fillna(0)

In [ ]:
buffalo = combined_df[["Departure Date","Buffalo Load","Buffalo Loss","Buffalo Pct"]]
buffalo = buffalo[buffalo["Buffalo Load"].notna()]
buffalo = buffalo.fillna(0)

In [ ]:
buffalo["Departure Date"].unique()

In [ ]:
buffalo["Departure Date"] = buffalo["Departure Date"].astype(str)
buffalo[["Month","Year"]] = buffalo["Departure Date"].str.split("-",expand=True,)
buffalo

In [ ]:
buffalo_ml = buffalo[["Year","Buffalo Load","Buffalo Loss"]]
buffalo_ml = buffalo_ml.groupby(by="Year",as_index = False).sum()
buffalo_ml

In [ ]:
buffalo_ml["Buffalo Pct"]= (buffalo_ml["Buffalo Loss"]/buffalo_ml["Buffalo Load"]) * 100
buffalo_ml

In [ ]:
buffalo_ml.to_csv('Output/buffalo_ml.csv', index = True)

In [ ]:
sheep["Departure Date"] = sheep["Departure Date"].astype(str)
sheep[["Month","Year"]] = sheep["Departure Date"].str.split("-",expand=True,)

In [ ]:
sheep_ml = sheep[["Year","Sheep Load","Sheep Loss"]]
sheep_ml = sheep_ml.groupby(by="Year",as_index = False).sum()

In [ ]:
sheep_ml["Sheep Pct"]= (sheep_ml["Sheep Loss"]/sheep_ml["Sheep Load"]) * 100
sheep_ml

In [ ]:
sheep_ml.to_csv('Output/sheep_ml.csv', index = True)

In [ ]:
cattle["Departure Date"] = cattle["Departure Date"].astype(str)
cattle[["Month","Year"]] = cattle["Departure Date"].str.split("-",expand=True,)

In [ ]:
cattle_ml = cattle[["Year","Cattle Load","Cattle Loss"]]
cattle_ml = cattle_ml.groupby(by="Year",as_index = False).sum()

In [ ]:
cattle_ml = cattle[["Year","Cattle Load","Cattle Loss"]]
cattle_ml = cattle_ml.groupby(by="Year",as_index = False).sum()

In [ ]:
cattle_ml["Cattle Pct"]= (cattle_ml["Cattle Loss"]/cattle_ml["Cattle Load"]) * 100
cattle_ml

In [ ]:
cattle_ml.to_csv('Output/cattle_ml.csv', index = True)