In [1]:
%matplotlib inline

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [3]:
#stored data file path
mortality_data_path = "/Users/matthewvicario/Desktop/Project3/exp_mortality.csv"
exports_data_path = "/Users/matthewvicario/Desktop/Project3/all_exports.csv"

In [4]:
mortality_data = pd.read_csv(mortality_data_path)
mortality_data.head()

  Export Date  Species  Consignment Mortality Level Destination Mode
0      Aug-19  Buffalo                            6     Vietnam  Sea
1      Jul-19   Cattle                           22     Vietnam  Sea
2      May-19   Cattle                           53     Vietnam  Sea
3      May-19   Cattle                           25       China  Sea
4      Mar-19   Cattle                           53     Vietnam  Sea

In [5]:
mortality_count = pd.DataFrame(mortality_data.groupby(["Export Date","Species"])["Consignment Mortality Level"].sum())
mortality_count.head()

                     Consignment Mortality Level
Export Date Species
Apr-16      Cattle                           155
Apr-17      Cattle                            95
Aug-15      Goats                             48
            Sheep                            125
Aug-16      Sheep                            748

In [6]:
exports_data = pd.read_csv(exports_data_path)
exports_data.head()

  Mode Month State      Load Port Species    End Use   Country  Quantity  Year
0  Air   Jul    SA       Adelaide   Goats  Slaughter  Malaysia       100  2014
1  Sea   Jul    SA  Port Adelaide   Sheep  Slaughter   Bahrain     22000  2014
2  Sea   Jul    SA  Port Adelaide   Sheep  Slaughter     Qatar     25484  2014
3  Air   Jul    SA       Adelaide   Sheep  Slaughter  Malaysia       111  2014
4  Sea   Jul    WA      Fremantle  Cattle  Slaughter     Egypt      2403  2014

In [7]:
neworder = exports_data[["Month", "Year", "Species", "Quantity", "Mode","Country", "End Use"]]
neworder.rename(columns = {"Country":"Destination"}, inplace = True)
neworder.head()

/Users/matthewvicario/opt/anaconda3/lib/python3.7/site-packages/pandas/core/frame.py:4133: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

  Month  Year Species  Quantity Mode Destination    End Use
0   Jul  2014   Goats       100  Air    Malaysia  Slaughter
1   Jul  2014   Sheep     22000  Sea     Bahrain  Slaughter
2   Jul  2014   Sheep     25484  Sea       Qatar  Slaughter
3   Jul  2014   Sheep       111  Air    Malaysia  Slaughter
4   Jul  2014  Cattle      2403  Sea       Egypt  Slaughter

In [8]:
start, stop = 2, 4
neworder["Year"] = neworder["Year"].astype(str)
neworder["Year"] = neworder["Year"].str.slice(start, stop)
neworder.head()

/Users/matthewvicario/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/matthewvicario/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

  Month Year Species  Quantity Mode Destination    End Use
0   Jul   14   Goats       100  Air    Malaysia  Slaughter
1   Jul   14   Sheep     22000  Sea     Bahrain  Slaughter
2   Jul   14   Sheep     25484  Sea       Qatar  Slaughter
3   Jul   14   Sheep       111  Air    Malaysia  Slaughter
4   Jul   14  Cattle      2403  Sea       Egypt  Slaughter

In [9]:
neworder["Export Date"] = pd.DataFrame(neworder["Month"].map(str) + "-" + neworder["Year"].map(str))
neworder.head()

/Users/matthewvicario/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

  Month Year Species  Quantity Mode Destination    End Use Export Date
0   Jul   14   Goats       100  Air    Malaysia  Slaughter      Jul-14
1   Jul   14   Sheep     22000  Sea     Bahrain  Slaughter      Jul-14
2   Jul   14   Sheep     25484  Sea       Qatar  Slaughter      Jul-14
3   Jul   14   Sheep       111  Air    Malaysia  Slaughter      Jul-14
4   Jul   14  Cattle      2403  Sea       Egypt  Slaughter      Jul-14

In [10]:
clean_exports = neworder[["Export Date", "Species", "Quantity", "Mode","Destination", "End Use"]]
clean_exports.head()

  Export Date Species  Quantity Mode Destination    End Use
0      Jul-14   Goats       100  Air    Malaysia  Slaughter
1      Jul-14   Sheep     22000  Sea     Bahrain  Slaughter
2      Jul-14   Sheep     25484  Sea       Qatar  Slaughter
3      Jul-14   Sheep       111  Air    Malaysia  Slaughter
4      Jul-14  Cattle      2403  Sea       Egypt  Slaughter

In [11]:
export_count = pd.DataFrame(clean_exports.groupby(["Export Date","Species"])["Quantity"].sum())
export_count

                     Quantity
Export Date Species
Apr-15      Buffalo       417
            Cattle     168594
            Deer           90
            Goats        6832
            Sheep      183948
...                       ...
Sept-19     Alpacas         4
            Buffalo       655
            Cattle     107775
            Goats        1982
            Sheep       59354

[312 rows x 1 columns]

In [16]:
combined_count = pd.merge(mortality_count, export_count, on ="Export Date","Species", how ='outer')
combined_count.head()

SyntaxError: positional argument follows keyword argument (<ipython-input-16-89ea6065e721>, line 1)